{% set dev = true %}

<footer
    id="{{ sectionId }}"
    section-id="{{ sectionId }}"
    class="store-footer footer-theme-bg-primary footer-theme-text-for-primary-bg"
>
    {% include 'components/footer-store-section.jinja' %}
</footer>
